@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: grey;
  color: black;
  text-align: center;
  margin-top: 100px;
}
#store{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card{
  background-color:purple;
  color:white;
  width:25%;
}
.navbar-logo{
font-size:50px;
color:orange;
}