@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-image: linear-gradient(grey, black);
  color: black;
  text-align: center;
  margin-top: 100px;
  background-repeat: no-repeat;
 background-attachment: fixed;
}
#store{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:10px;
}
.card{
  background-color:purple;
  color:orange;
  width:25%;
  margin:25px;
  border: double orange 6px;
}
.card-body{
  border: solid white 1.5px;
  margin:2px;
  border-radius:2.5px;
  box-shadow: black;
}
.navbar-logo{
font-size:75px;
color:orange;
margin:8px;
text-shadow: 5px 2px  white;
}
.logout-btn{
  background-color:orange;
  color:purple;
  border:solid white 1px;
  margin:25px;
  
}
.logout-btn:hover{
  background-color:white;
  color:purple;
  border:solid orange 1px;
  margin:25px;
}
.title{
 
  color: orange;
  font-size: 30px;
  font-weight: 300;
  margin-right:25px;
  text-shadow: 2px 2px  black;
}
#navnav{
  background-color:purple;
  color: orange;
}
.navbarContent{
  background-color:purple;
  color: orange;
  font-size: 25px;
  font-weight: 300;
  margin-right:25px;
  
}